@{
    ViewBag.Title = "Пигменты";
    Layout = "~/Areas/Default/Views/Shared/_LayoutCopy.cshtml";
}

<main class="cd-main-content">
    <div class="wrapper container">


        <div class="heading">
            <div class="image float_left"><img src="images/pigments/Azurit_K.png" height="58" width="58"></div>
            <h1>Azurite</h1>
            <h2>/ <b>azh</b> • uh • rite /</h2>

        </div>
        <div class="row">

            <aside class="col-md-4">
                <ul class="list-group submenu">
                    <li class="list-group-item active">Azurite</li>
                    <li class="list-group-item"><a href="boneblack.html">Bone black</a></li>
                    <li class="list-group-item"><a href="carbonblack.html">Carbon black</a></li>
                    <li class="list-group-item"><a href="carmine.html">Carmine</a></li>
                    <li class="list-group-item"><a href="cdyellowred.html">Cadmium yellow/red</a></li>
                    <li class="list-group-item"><a href="ceruleanblue.html">Cerulean Blue</a></li>
                    <li class="list-group-item"><a href="coblue.html">Cobalt blue</a></li>
                    <li class="list-group-item"><a href="cogreen.html">Cobalt green</a></li>
                    <li class="list-group-item"><a href="coviolet.html">Cobalt violet</a></li>
                    <li class="list-group-item"><a href="coyellow.html">Cobalt yellow</a></li>
                    <li class="list-group-item"><a href="crorange.html">Chrome orange</a></li>
                    <li class="list-group-item"><a href="cryellow.html">Chrome yellow</a></li>
                    <li class="list-group-item"><a href="curesinate.html">Copper resinate</a></li>
                    <li class="list-group-item"><a href="egyptblue.html">Egyptian blue</a></li>
                    <li class="list-group-item"><a href="emerald.html">Emerald green</a></li>
                    <li class="list-group-item"><a href="greenearth.html">Green earth</a></li>
                    <li class="list-group-item"><a href="indianyellow.html">Indian yellow</a></li>
                    <li class="list-group-item"><a href="indigo.html">Indigo</a></li>
                    <li class="list-group-item"><a href="leadtinyellow.html">Lead-tin yellow</a></li>
                    <li class="list-group-item"><a href="leadwhite.html">Lead white</a></li>
                    <li class="list-group-item"><a href="lemonyellow.html">Lemon yellow</a></li>
                    <li class="list-group-item"><a href="limewhite.html">Lime white</a></li>
                    <li class="list-group-item"><a href="madder.html">Madder</a></li>
                    <li class="list-group-item"><a href="malachite.html">Malachite</a></li>
                    <li class="list-group-item"><a href="naplesyellow.html">Naples yellow</a></li>
                    <li class="list-group-item"><a href="orpiment.html">Orpiment</a></li>
                    <li class="list-group-item"><a href="prussblue.html">Prussian blue</a></li>
                    <li class="list-group-item"><a href="realgar.html">Realgar</a></li>
                    <li class="list-group-item"><a href="redlead.html">Red lead</a></li>
                    <li class="list-group-item"><a href="redochre.html">Red ochre</a></li>
                    <li class="list-group-item"><a href="smalt.html">Smalt</a></li>
                    <li class="list-group-item"><a href="titaniumwhite.html">Titanium white</a></li>
                    <li class="list-group-item"><a href="ultramarine.html">Ultramarine</a></li>
                    <li class="list-group-item"><a href="umber.html">Umber</a></li>
                    <li class="list-group-item"><a href="vandyke.html">Van Dyke brown</a></li>
                    <li class="list-group-item"><a href="verdigris.html">Verdigris</a></li>
                    <li class="list-group-item"><a href="vermilion.html">Vermilion</a></li>
                    <li class="list-group-item"><a href="viridian.html">Viridian</a></li>
                    <li class="list-group-item"><a href="yellowochre.html">Yellow ochre</a></li>
                    <li class="list-group-item"><a href="zincwhite.html">Zinc white</a></li>

                </ul>
            </aside>

            <section class="col-md-8">
                <ul class="nav nav-tabs">
                    <li><a href="Azurite.html">Overview</a></li>
                    <li><a href="Azurite_history.html">History of use</a></li>
                    <li><a href="Azurite_making.html">Making the pigmengt</a></li>
                    <li class="active"><a href="Azurite_Technical.html">Technical details</a></li>
                </ul>
            </section>

            <section class="col-md-8"></section>

            <div class="clearfix"></div>
            <div class="col-md-12">
                <strong class="beautify">Other blues</strong><br>
                (<a href="/pigments/indiv/color/blues.html">intro</a>) - <a href="azurite.html">Azurite</a> - <a href="ceruleanblue.html">Cerulean Blue</a> - <a href="coblue.html">Cobalt blue</a> - <a href="egyptblue.html">Egyptian blue</a> - <a href="prussblue.html">Prussian blue</a> - <a href="smalt.html">Smalt</a> - <a href="ultramarine.html">Ultramarine</a>
            </div>



</main>
