@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="lost-form" style="display:none;">
    <div class="modal-body">
        <div id="div-lost-msg">
            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-lost-msg">Укажите ваш e-mail.</span>
        </div>
        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail" required>
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-default">Отправить</button>
        </div>
        <div>
            <button id="lost_login_btn" type="button" class="btn-link">Авторизация</button>
            <button id="lost_register_btn" type="button" class="btn-link">Регистрация</button>
        </div>
    </div>
</form>
