@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="register-form" style="display:none;">
    <div class="modal-body">
        <div id="div-register-msg">
            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-register-msg">Регистрация аккаунта.</span>
        </div>
        <input id="register_username" class="form-control" type="text" placeholder="Имя пользователя" required>
        <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
        <input id="register_password" class="form-control" type="password" placeholder="Пароль" required>
        <input id="register_repeat_password" class="form-control" type="repeat_password" placeholder="Повторить пароль" required>
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-default">Регистрация</button>
        </div>
        <div>
            <button id="register_login_btn" type="button" class="btn-link">Авторизация</button>
            <button id="register_lost_btn" type="button" class="btn-link">Забыли пароль?</button>
        </div>
    </div>
</form>
