@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <span class="glyphicon glyphicon-user fa-4x"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                    @Html.Partial("~/Areas/Default/Views/Login/myLogin.cshtml")
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                     @Html.Partial("~/Areas/Default/Views/User/myLostPassword.cshtml")
                <!-- End | Lost Password Form -->

                <!-- Begin | Register Form -->
                    @Html.Partial("~/Areas/Default/Views/User/myRegister.cshtml")               
                <!-- End | Register Form -->

            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
