@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="section-footer2" class="footer-wrap">
    <div class="container  footer center">
        <div class="row">
            <div class="col-md-5 twitter">
                <p class="text-block"> All rights reserved &copy; <span>2016<span></p>
            </div>
            <div class="col-md-3 sitemap">
                <h4 class="footer-title">
                    <!-- Footer Title -->
                    <a class="site-name" href="#"><span>O</span>euvre</a>
                </h4>
            </div>
            <div class="col-md-4 footer-logo">
                <div class="footer_mid pull-right social-icons">
                    <ul class="social-contact list-inline">
                        <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="#"><i class="fa fa-rss"></i></a></li>
                        <li> <a href="#"><i class="fa fa-google-plus"></i> </a></li>
                        <li> <a href="#"> <i class="fa fa-linkedin"></i></a></li>
                        <li> <a href="#"> <i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

