@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-about" class="section-about-wrap">
    <a name="section-about"></a>
    <div class="section-overlay"></div>
    <div class="container big-about center animated" data-animation="fadeInLeft" data-animation-delay="700">
        <div class="row">
            <div class="col-md-12 section-title">
                <h3 class="animated mov">О ПРОЕКТЕ</h3>
            </div>


            <p class="text-muted">
                Хотим отметить, что основное назначени этого интернет-ресурса не только в хранении инфомации по материалам и результатам исследований, но и в предоставлении Вам  к нему открытого доступа.
                <br>
                Таким образом, чтобы начать пользоваться возможностями данного сайта вам нужно <b>зарегистрироваться</b> в системе.
                <br>После авторизации на сайте Вам буду доступны страницы с результами экспертизы конкретного объекта исследования.
            </p>
            <div class="home-buttons">
                <button class="fancy-button button-line button-white vertical md-trigger" data-modal="modal-13">
                    Узнать больше
                    <span class="icon">
                        <i class="fa fa-leaf"></i>
                    </span>
                </button>
            </div>

        </div>
    </div>
</section>
