@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-artists" class="artists-wrap">
    <a name="section-artists"></a>
    <div class="container artists center">
        <div class="row">
            <div class="col-lg-10 col-md-offset-1 section-title-artists tim-typo">
                <h3 class="animated mov">ХУДОЖНИКИ</h3>
            </div>
            <div class="col-lg-12">
                <!--artists container Starts -->
                <ul id="card-ul" class="artists-hold baraja-container">

                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-1.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Пабло Пикассо</h4>
                        <p class="artists-text">
                            1881 г.-1973 г.
                        </p>

                        <a href="gallery-artists.html" class="fancy-button button-line btn-col small vertical">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>

                    </li>
                    <!-- Single artists Ends -->
                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-2.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Айвазовский И.К.</h4>
                        <p class="artists-text">
                            1817 г.-1900 г.
                        </p>
                        <a href="gallery-artists.html" class="fancy-button button-line btn-col small zoom">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Single artists Ends -->
                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-8.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Микеланджело</h4>
                        <p class="artists-text">
                            1475 г.-1564 г.
                        </p>
                        <a href="#" class="fancy-button button-line btn-col small zoom">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Single artists Ends -->
                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-3.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Леонардно да Винчи</h4>
                        <p class="artists-text">
                            1452 г.-1519 г.
                        </p>
                        <a href="gallery-artists.html" class="fancy-button button-line btn-col small zoom">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Single artists Ends -->
                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-4.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Левитан И.И.</h4>
                        <p class="artists-text">
                            1860 г.-1900 г.
                        </p>
                        <a href="gallery-artists.html" class="fancy-button button-line btn-col small zoom">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Single artists Ends -->
                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-5.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Рембранд</h4>
                        <p class="artists-text">
                            1606 г.-1669 г.
                        </p>
                        <a href="gallery-artists.html" class="fancy-button button-line btn-col small zoom">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Single artists Ends -->
                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-6.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Сальвадор Дали</h4>
                        <p class="artists-text">
                            1904 г.-1989 г.
                        </p>
                        <a href="gallery-artists.html" class="fancy-button button-line btn-col small zoom">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Single artists Ends -->
                    <!-- Single artists Starts -->
                    <li>
                        <img src="images/h-7.jpg" alt="" class="artists-image" /><!-- artists Icon -->
                        <h4 class="artists-title color-scheme">Клод Моне</h4>
                        <p class="artists-text">
                            1840 г.-1926 г.
                        </p>
                        <a href="gallery-artists.html" class="fancy-button button-line btn-col small zoom">
                            Дальше
                            <span class="icon">
                                <i class="fa fa-leaf"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Single artists Ends -->
                </ul>
                <!--artists container Ends -->
                <!-- artists Controls Starts -->
                <div class="artists-control relative">
                    <button class="control-icon fancy-button button-line no-text btn-col bell" id="artists-prev" title="Previous">
                        <span class="icon">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                    </button>
                    <button class="control-icon fancy-button button-line no-text btn-col zoom" id="artists-expand" title="Expand">
                        <span class="icon">
                            <i class="fa fa-expand"></i>
                        </span>
                    </button>
                    <button class="control-icon fancy-button button-line no-text btn-col zoom" id="artists-close" title="Collapse">
                        <span class="icon">
                            <i class="fa fa-compress"></i>
                        </span>
                    </button>
                    <button class="control-icon fancy-button button-line no-text btn-col bell" id="artists-next" title="Next">
                        <span class="icon">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
                <!-- artists Controls Ends -->
            </div>
        </div>
    </div>
</section>
