@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="section-home" class="home-section-wrap center">
    <div class="container home">
        <div class="row">
            <h1 class="well-come animated bounceInLeft">Интернет-ресурc</h1>
            <div class="col-md-8 col-md-offset-2">
                <p class="intro-message animated bounceInRight">
                    для хранения, поиска и анализа данных,
                    связанных с объектами художественной ценности
                </p>
                <a href="#section-about" class="btn1 btn-circle page-scroll animated flash">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>


            </div>
        </div>
    </div>
</div>
