@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-Library" class="Library-wrap">
    <a name="section-Library"></a>
    <div class="container Library">
        <div class="row">

            <div class="col-md-10 col-md-offset-1 center section-title">
                <h3 class="animated mov">БИБЛИОТЕКИ</h3>
            </div>


            <!-- Single Library Starts -->
            <div class="col-md-6 col-sm-6 Library animated" data-animation="fadeInUp" data-animation-delay="700">
                <span class="Library-icon center"><i class="icon icon-basic-book-pencil fa-3x"></i></span>
                <div class="Library-desc">
                    <h4 class="Library-title color-scheme">SDBS</h4>
                    <p class="Library-description justify">
                        Библиотеки масс-спектральных данных, содежащая около 25 тыс. экспериментально определенных масс спектров органических веществ.
                    </p>
                </div>
            </div>
            <!-- Single Library ends -->
            <!-- Single Library Starts -->
            <div class="col-md-6 col-sm-6 Library animated" data-animation="fadeInRight" data-animation-delay="700">
                <span class="Library-icon center"><i class="icon icon-basic-book-pencil fa-3x"></i></span>
                <div class="Library-desc">
                    <h4 class="Library-title color-scheme">WILEY 07</h4>
                    <p class="Library-description justify">
                        Библиотеки масс-спектральных данных, созданная профессором Мак-Лафферти, при участии Национального бюро стандартов США, - около
                        450 000 масс-спектров, во многом пересекается с библиотеками NIST.
                    </p>
                </div>
            </div>
            <!-- Single Library Ends -->
            <!-- Single Library Starts -->
            <div class="col-md-6 col-sm-6 Library animated" data-animation="fadeInUp" data-animation-delay="700">
                <span class="Library-icon center"><i class="icon icon-basic-book-pencil fa-3x"></i></span>
                <div class="Library-desc">
                    <h4 class="Library-title color-scheme">БИБЛИОТЕКИ НИОХ СО РАН</h4>
                    <p class="Library-description justify">
                        Библиотеки созданные и поддерживаемые в НИОХ СО РАН, по природным соединениям, веществам, часто используемые в синтезах химиками НИОХ СО РАН, продуктами и полупродуктами синтезов - суммарно до 10 000 масс-спектров, информацию о методе записи хроматограммы, из которой взят масс-спектор, время удержания или индекс удержания.
                    </p>
                </div>
            </div>
            <!-- Single Library Ends -->
            <!-- Single Library Starts -->
            <div class="col-md-6 col-sm-6 Library animated" data-animation="fadeInLeft" data-animation-delay="700">
                <span class="Library-icon center"><i class="icon icon-basic-book-pencil fa-3x"></i></span>
                <div class="Library-desc">
                    <h4 class="Library-title color-scheme">NIST 07/NIST 08</h4>
                    <p class="Library-description justify">
                        Библиотеки масс-спектральных данных, созданные и поддерживаемые Национальным Институтом Стандартизации и Технологии США - содержат
                        около 300 000 масс-спектров
                    </p>
                </div>
            </div>
            <!-- Single Library Ends -->

        </div>
    </div>
</section>
