@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-testimonials" class="testimonials-wrap">
    <a name="section-testimonials"></a>
    <div class="section-overlay"></div>
    <div class="container testimonials center animated" data-animation="rollIn" data-animation-delay="500">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonial-slider">
                    <!-- Pigments Starts -->
                    <div class="testimonial">
                        <p class="comment">
                            КАТАЛОГ ПИГМЕНТОВ
                        </p>
                        <div class="home-buttons">
                            <a href="pigments.html" class="fancy-button button-line button-white vertical">
                                Узнать больше
                                <span class="icon">
                                    <i class="fa fa-leaf"></i>
                                </span>
                            </a>

                        </div>

                    </div>
                    <!-- Pigments Ends -->
                    <!-- Colors Starts -->
                    <div class="testimonial">
                        <p class="comment">
                            КАТАЛОГ ЦВЕТОВ
                        </p>

                        <div class="home-buttons">
                            <a href="colors.html" class="fancy-button button-line button-white vertical">
                                Узнать больше
                                <span class="icon">
                                    <i class="fa fa-leaf"></i>
                                </span>
                            </a>

                        </div>
                    </div>
                    <!-- Colors Ends -->


                </div>
                <div id="bx-pager" class="client-photos">
                    <a data-slide-index="0" href="" class="photo-hold">
                        <span class="photo-bg">
                            <img src="images/pigment.jpg" alt="" /> <!-- Client photo 1 -->
                        </span>
                    </a>
                    <a data-slide-index="1" href="" class="photo-hold">
                        <span class="photo-bg">
                            <img src="images/цвета.png" alt="" /> <!-- Client photo 2 -->
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>