@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-screenshots" class="screenshots-wrap">
    <div class="container screenshots animated" data-animation="fadeInUp" data-animation-delay="1000">
        <a name="section-screenshots"></a>
        <div class="row porfolio-container">
            <div class="col-md-10 col-md-offset-1 center section-title">
                <h3 class="animated mov">ГАЛЕРЕЯ КАРТИН</h3>
            </div>
            <!-- Single screenshot starts -->
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="screenshot">
                    <div class="photo-box">
                        <img src="images/g-5.jpg" alt="" />
                        <div class="photo-overlay">
                            <h4>Название картины</h4>
                        </div>
                        <span class="photo-zoom">
                            <a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Single screenshot ends -->
            <!-- Single screenshot starts -->
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="screenshot">
                    <div class="photo-box">
                        <img src="images/g-2.jpg" alt="" />
                        <div class="photo-overlay">
                            <h4>Название картины</h4>
                        </div>
                        <span class="photo-zoom">
                            <a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                        </span>
                    </div>

                </div>
            </div>
            <!-- Single screenshot ends -->
            <!-- Single screenshot starts -->
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="screenshot">
                    <div class="photo-box">
                        <img src="images/g-3.jpeg" alt="" />
                        <div class="photo-overlay">
                            <h4>Название картины</h4>
                        </div>
                        <span class="photo-zoom">
                            <a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                        </span>
                    </div>

                </div>
            </div>
            <!-- Single screenshot ends -->
            <!-- Single screenshot starts -->
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="screenshot">
                    <div class="photo-box">
                        <img src="images/g-4.jpg" alt="" />
                        <div class="photo-overlay">
                            <h4>Название картины</h4>
                        </div>
                        <span class="photo-zoom">
                            <a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                        </span>
                    </div>

                </div>
            </div>
            <!-- Single screenshot ends -->
            <!-- Single screenshot starts -->
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="screenshot">
                    <div class="photo-box">
                        <img src="images/g-1.jpg" alt="" />
                        <div class="photo-overlay">
                            <h4>Название картины</h4>
                        </div>
                        <span class="photo-zoom">
                            <a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                        </span>
                    </div>

                </div>
            </div>
            <!-- Single screenshot ends -->
            <!-- Single screenshot starts -->
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="screenshot">
                    <div class="photo-box">
                        <img src="images/g-6.jpg" alt="" />
                        <div class="photo-overlay">
                            <h4>Название картины</h4>
                        </div>
                        <span class="photo-zoom">
                            <a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                        </span>
                    </div>

                </div>
            </div>
            <!-- Single screenshot ends -->

        </div>

        <div id="portfolio-loader" class="center">
            <div class="loading-circle fa-spin"></div>
        </div> <!--=== Portfolio loader ===-->

        <div id="portfolio-load"></div><!--=== ajax content will be loaded here ===-->

        <div class="col-md-12 center back-button">
            <a class="backToProject fancy-button button-line bell btn-col" href="#">
                Назад
                <span class="icon">
                    <i class="fa fa-arrow-left"></i>
                </span>
            </a>
        </div><!--=== Single portfolio back button ===-->
    </div>
</section>
