@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="study-1" class="section-study study-wrap">
    <a name="section-study-1"></a>
    <div class="container study animated" data-animation="bounceInLeft" data-animation-delay="700">
        <div class="row">
            <!-- study Description Starts -->
            <div class="col-md-8 study-desc">
                <div class="col-md-2 center">
                    <div class="study-no">
                        <span class="no-inner">1</span>
                    </div>
                </div>

                <div class="col-md-10 study-details">
                    <h3 class="study-title color-scheme">СПЕКТРАЛЬНЫЙ АНАЛИЗ КАРТИНЫ</h3>
                    Лазерная экспрессная экспертиза на сегодняшний день является единственным методом, который позволяет иследователю определить материалы содержащиеся в произведении искусства (картины) или каком-либо другом объекте.
                    <br>
                    Таким образом иследователь, благодаря информации полученной в результате экспертизы и собранной базы данных, может понять состав и какие художественные материальны (краски, пигменты) использовались в определенный временной период, а также в каком конкретном регионе. Также проведение такого рода экспертизы помогает выявить подделку среди картин.
                </div>

            </div> <!-- End study-details -->
        </div>
        <!-- study Description Ends -->
        <div class="col-md-4 study-img">
            <img src="images/note.png" alt="" /> <!-- study Photo Here -->
        </div>
    </div>
</section>
<!--=== Study-1 section Ends ===-->
<!--=== Study-2 section Starts ===-->
<section id="study-2" class="section-study study-even study-wrap">
    <div class="container study animated" data-animation="bounceInRight" data-animation-delay="700">
        <div class="row">
            <!-- study Description Starts -->
            <div class="col-md-8 study-desc">
                <div class="col-md-2 center">
                    <div class="study-no">
                        <span class="no-inner">2</span>
                    </div>
                </div>

                <div class="col-md-10 study-details">
                    <h3 class="study-title color-scheme">ЭКСПЕРТНОЕ ЗАКЛЮЧЕНИЕ</h3>
                    Ппосредством этого веб-портала Вы может по конкретному объекту художественной ценности получить следующую информацию:
                    <br>–	информцию по авторству (установление, подтверждение или отклонение авторства);
                    <br>–	датировка произведения;
                    <br>–	определение школы живописи;
                    <br>–	определение иконографии произведения;
                    <br>–	решение вопроса об оригинальности или вторичности работы;
                    <br>–	разграничение по типу вторичности (копия, авторское или соавторское повторение, принадлежность к мастерской, кругу, школе либо последователю мастера, имитация, подделка, стилизация);
                    <br>–	определение состояния сохранности;
                    <br>–	определение художественного уровня произведения.
                </div>

            </div><!-- End study-details -->
        </div>
        <!-- study Description Ends -->
        <div class="col-md-4 study-img">
            <img src="images/desk.png" alt="" /> <!-- study Photo Here -->
        </div>
    </div>
</section>
