@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="login-form">
    <div class="modal-body">
        <div id="div-login-msg">
            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-login-msg">Введите имя пользователя и пароль.</span>
        </div>


        <input id="login_username" class="form-control " type="text" placeholder="Имя пользователя" required>
        <input id="login_password" class="form-control" type="password" placeholder="Пароль" required>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Запомнить меня
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-warning btn-lg btn-block btn-default"><span class="glyphicon glyphicon-ok"></span> Войти</button>
        </div>
        <div>
            <button id="login_lost_btn" type="button" class="btn-link">Забыли пароль?</button>
            <button id="login_register_btn" type="button" class="btn-link">Регистрация</button>
        </div>
    </div>
</form>